<?xml version="1.0"?>
<!--
/**
 * Copyright © Getnet. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Getnet_PaymentMagento::view_log_action" title="Getnet Viewer Log" translate="title" sortOrder="10" />
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Payment::payment_services" title="Payment Services" translate="title">
                                <resource id="Getnet_PaymentMagento::preference" title="Permission for set preference account Getnet" translate="title" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="Magento_Sales::sales_operation">
                        <resource id="Magento_Sales::sales_order"  title="Orders" translate="title" sortOrder="10">
                            <resource id="Magento_Sales::actions" title="Actions" translate="title" sortOrder="10">
                                <resource id="Getnet_PaymentMagento::tokenize" title="Payment Tokenize" translate="title" sortOrder="160" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>