<?xml version="1.0"?>
<!--
/**
 * Copyright © Getnet. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_getnet_paymentmagento_cc">
        <observer name="getnet_paymentmagento_cc_data_assign" instance="Getnet\PaymentMagento\Observer\DataAssignObserverCc" />
    </event>
    <event name="payment_method_assign_data_getnet_paymentmagento_cc_vault">
        <observer name="getnet_paymentmagento_cc_vault_data_assign" instance="Getnet\PaymentMagento\Observer\DataAssignObserverCcVault" />
    </event>
    <event name="payment_method_assign_data_getnet_paymentmagento_boleto">
        <observer name="getnet_paymentmagento_boleto_data_assign" instance="Getnet\PaymentMagento\Observer\DataAssignBoletoObserver" />
    </event>
    <event name="payment_method_assign_data_getnet_paymentmagento_wallet">
        <observer name="getnet_paymentmagento_wallet_data_assign" instance="Getnet\PaymentMagento\Observer\DataAssignObserverWallet" />
    </event>
</config>
